{% raw %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport" content="width=device-width, initial-scale=1">
    <title>Tweet n Trade</title>
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/nv.d3.min.css">
    <link rel="stylesheet" href="/views/css/spa.css">
</head>
<body ng-app="tweetNTrade">
    <div ng-controller="ScoresCtrl" ng-init="init()" class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="jumbotron">
                    <h1>Twitter trades</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label class="radio-inline">
                    <input type="radio" name="hours" ng-model="hours" ng-value="1">
                    1 hour
                </label>
                <label class="radio-inline">
                    <input type="radio" name="hours" ng-model="hours" ng-value="4">
                    4 hours
                </label>
                <label class="radio-inline">
                    <input type="radio" name="hours" ng-model="hours" ng-value="12">
                    12 hours
                </label>
                <label class="radio-inline">
                    <input type="radio" name="hours" ng-model="hours" ng-value="24">
                    24 hours
                </label>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="radio-inline">
                    <input type="radio" name="excludeOutliers" ng-model="excludeOutliers" ng-value="0">
                    Include outliers
                </label>
                <label class="radio-inline">
                    <input type="radio" name="excludeOutliers" ng-model="excludeOutliers" ng-value="1">
                    Exclude outliers
                </label>
            </div>
        </div>
        <div class="row" ng-repeat="serie in series" ng-cloak>
            <div class="col-md-12">
                <h1>
                    <span class="label label-info">{{ serie.symbol }}</span>
                </h1>
                <!--canvas class="chart chart-bar" chart-labels="s.x" chart-data="s.y" chart-series="s.names",
                        chart-colours="s.colors" chart-options="chartOptions" height="100"></canvas-->
                <nvd3 options="chartOptions" data="serie.data"
                      config="{deepWatchData: true, refreshDataOnly: false}"></nvd3>
            </div>
        </div>
    </div>
    <script src="/vendor/js/angular.min.js"></script>
    <script src="/vendor/js/moment.min.js"></script>
    <script src="/vendor/js/d3.min.js"></script>
    <script src="/vendor/js/nv.d3.min.js"></script>
    <script src="/vendor/js/angular-nvd3.min.js">   </script>
    <script src="/vendor/js/jquery-2.1.4.min.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script src="/vendor/js/simple-statistics.min.js"></script>
    <script src="/views/js/controllers.js"></script>
</body>
</html>
{% endraw %}